@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    body::before{
      display: block;
      content: '';
      height: 56px;
    }
    #links .active{
      @apply text-gray-200
    }
  }